* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-content: center;

  margin: 0 auto;
  max-width: 144rem;
  padding: 10px 225px;
  background-color: #f5f5f3;
}

.header-logo a {
  font-size: 23px;
  font-weight: 900;
  text-decoration: none;
  color: #0a171c;
}

.header-links a {
  text-decoration: underline;

  margin-left: 16px;
  padding: 10px 0;
  float: right;

  color: #0a171c;

  font-size: 16px;
  font-weight: 100;
}

.header-links a:hover {
  text-decoration: none;
}
